<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
  </head>
  <body>
    <form action="/new" method="POST">
      <h1>New Message</h1>
      <label>
        Author name:
        <input type="text" name="authorName" id="authorName" />
      </label>
      <label>
        Message text:
        <input type="text" name="messageText" id="messageText" />
      </label>
      <button>Submit</button>
    </form>
  </body>
</html>
